<!DOCTYPE html>
<html>
<body>
  <h1>Welcome to the Home Page</h1>
  <% if (data) { %>
    <p>Submitted Data: <%= JSON.stringify(data) %></p>
  <% } %>
</body>
</html>
<!DOCTYPE html>
<html>
<body>
  <h1>Welcome to the Home Page</h1>
  <% if (data) { %>
    <p>Submitted Data: <%= JSON.stringify(data) %></p>
  <% } %>
</body>
</html>
